language: objective-c
osx_image: xcode9.1
branches:
  only:
    - master

env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  matrix:
    - DESTINATION="platform=iOS Simulator,OS=11.1,name=iPhone X"          SCHEME="ConfigurationProvider-Example"

before_install:
  - gem install cocoapods --pre --no-rdoc --no-ri --no-document --quiet
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild test -scheme "$SCHEME" -enableCodeCoverage "YES" -configuration "Debug" ENABLE_TESTABILITY=YES -destination "$DESTINATION" -workspace "Example/ConfigurationProvider.xcworkspace" ONLY_ACTIVE_ARCH=YES   
  - pod lib lint;
  - echo $TRAVIS_BRANCH
  

                  
                  
                  
                  
                  