<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<dict>
		<key>name</key>
		<string>Dev</string>
		<key>domain</key>
		<string>http://domain.com.br/</string>
		<key>endpoints</key>
		<dict>
			<key>busca</key>
			<string>http://busca.com</string>
			<key>detalhe</key>
			<string>http://detalhe/{id}/</string>
			<key>hasDomain</key>
			<string>domain</string>
		</dict>
	</dict>
	<key>release</key>
	<dict>
		<key>name</key>
		<string>Release</string>
		<key>domain</key>
		<string>http://domain.com.br/</string>
		<key>endpoints</key>
		<dict>
			<key>busca</key>
			<string>http://busca.com</string>
			<key>detalhe</key>
			<string>http://detalhe/{id}/</string>
			<key>hasDomain</key>
			<string>domain</string>
		</dict>
	</dict>
</dict>
</plist>
